<meta http-equiv="X-UA-Compatible" content="IE=edge">
<label class="zd_Hidden" id="map_json">{{asset 'mappublic.json'}}</label>
<label class="zd_Hidden" id="helpCenterSwitch">{{dc 'fe_v_helpcenter_switch'}}</label>
<label class="zd_Hidden" id="chatOffline">{{dc 'chatlabeloffline'}}</label>
<script src="https://www.googleoptimize.com/optimize.js?id=GTM-M3FHJ2Q"></script> 
<!-- Google Optimize snippet -->
<div class="webwidgetsnippet"></div>
 
<script type="text/javascript">
  
var the_url= window.location.href;  //this is the URL value that can be used in all the functions


var webwidget_class_hide_email = -1;   //create form id with a default value -1
var tag_manager_container = -1;
var webwidget_src = -1;  


    var id_map_data_source="https:"+$("#map_json").html();

  //login from widget

  function readMap(myURL){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",myURL,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
}

var mapObject = JSON.parse(readMap(id_map_data_source));



function loginFromWidget(){   

 // var searchKey=(the_url.split(".tomtom.com")[0]).split("https://")[1];
 // var login_via_widget=mapObject.loginFromWidget[searchKey];

     utag.link({
            'event_category': "Zendesk Web Widget",
            'event_action': "Logged In",
            'event_label': ""
        });


 $(".login")[0].click();
        
// window.location.href = login_via_widget;
}


//login from widget 
  
  
 $.getJSON(id_map_data_source, function(data) {  
  
      if (the_url.indexOf("sandbox")!= -1) {
  
  			webwidget_src = data.webwidget_src.sandbox;
        webwidget_class_hide_email = data.webwidget_class_hide_email.sandbox;
  			tag_manager_container = data.tag_manager_container.sandbox;
 			

        		  } else {
  			webwidget_src = data.webwidget_src.prod;
        webwidget_class_hide_email = data.webwidget_class_hide_email.prod;
  			tag_manager_container = data.tag_manager_container.prod;
 			

        }

  

          var webwidgetscript = document.createElement('script');
          webwidgetscript.onload = function() {
  	      };
          webwidgetscript.id = "ze-snippet";
          webwidgetscript.src = webwidget_src;
          document.getElementsByClassName('webwidgetsnippet')[0].appendChild(webwidgetscript);
					$("#ze-snippet").unwrap();
  

      	

			/*Start of hiding email and name on webwidget */   
      var waitForZen = setInterval(function () {
        if (window.$zopim === undefined || window.$zopim.livechat === undefined) {
            return;
        }
  
  

  zE('webWidget:on', 'open', function() {

                if (the_url.indexOf("/hc/de") === -1) {  
                      zE('webWidget', 'updateSettings', {
                          webWidget: {
                              answerBot: {
                                    suppress: true
                                }
                        }
                      });
                }
  
      var helpCenterSwitch=document.getElementById("helpCenterSwitch").textContent;
  
//  console.log("helpCenterSwitch dc "+helpCenterSwitch);

  
  if((HelpCenter.user.role!="anonymous")&&(helpCenterSwitch == "TRUE")){
  // if user logged in and according to DC:helpCenterSwitch(nl and nl-be) has true
  // suppress the help center
                          zE('webWidget', 'updateSettings', {
                                                  helpCenter: {
                                                    'suppress': true     
                                                  }
                                          });
                          }
                          
  
  
            if (HelpCenter.user.role=="anonymous")     {

                  zE('webWidget', 'updateSettings', {
   												
                          chat: {
                                  'suppress': true
                          },
                          talk: {
                                  'suppress': true
                          }
                  });
  
 
  

  
    var a = document.getElementById('webWidget');
        var frameBody =  a.contentWindow.document.getElementsByTagName("body")[0];
 
     var login_reminder_box=document.createElement('div');
       login_reminder_box.id = 'login_reminder_box';
 // login_reminder_box.setAttribute("style", "position:absolute; width:341px; bottom:21px; left: 18px; margin: 0 1px; text-align:center; box-shadow: rgba(0, 0, 0, 0.08) 0px -0.0714286rem 0.857143rem;padding: 1.07143rem 1.42857rem;border-top: 0.0785714rem solid rgb(233, 235, 237);background: #fff;color: #df1b12;cursor:pointer;user-select: none;");
   login_reminder_box.setAttribute("style", "position:absolute; width:341px; bottom:21px; left: 18px; margin: 0 1px; text-align:center; padding: 1.07143rem 1.42857rem;color: #df1b12;cursor:pointer;user-select: none;font-weight: bold;");
  
 //adjust login section on mobile size
 

  
  var full_size_widget = a.style.width;
  if(full_size_widget== "100%"){
  login_reminder_box.setAttribute("style", "position:absolute; width:100%; bottom:0; margin: 0; text-align:center; box-shadow: rgba(0, 0, 0, 0.08) 0px -0.0714286rem 0.857143rem;padding: 1.07143rem 1.42857rem;border-top: 0.0785714rem solid rgb(233, 235, 237);background: #fff;color: #df1b12;cursor:pointer;user-select: none;");
   console.log("full_size_widget "+full_size_widget);
  }
 
 
   /* function adjustSize(x) { save this code for future reference, when we need to use Javascript control media query
  if (x.matches) { // If media query matches
  }
}
var x = window.matchMedia("media query value here");
adjustSize(x); // Call listener function at run time
x.addListener(adjustSize);*/
  //adjust login section on mobile size
  
  
  

  
  			var dc_Homepage_Login= "{{dc 'Homepage_Login'}}";
  			var loginMSG = document.createElement('p'); 
     
        var textnode = document.createTextNode(dc_Homepage_Login); 
        loginMSG.appendChild(textnode); 
  
   
    

 

  
  zE('webWidget:on', 'userEvent', function(event) {
 
  if(event.action == "Help Center Search"){
  
   //loginMSG.style.bottom = '15px';
   login_reminder_box.appendChild(loginMSG); 
   login_reminder_box.addEventListener("click", loginFromWidget); 
 	 frameBody.appendChild(login_reminder_box); 
  
// this does not apply to if dutch FAQ is suppressed
//because it will not enter "Help Center Search" if-statement

  }

  });
  

  
 
 			  
   //twisting
  if(helpCenterSwitch == "TRUE"){
  //if user not logged in and has a true value for suppress the help center, 
  //suppress the help center and use the contact form as a place holder
                      zE('webWidget', 'updateSettings', {
   											contactForm: {
                                  'suppress': false
                          },
                        helpCenter: {
                            'suppress': true     
                          }
                  });
  
  zE('webWidget:on', 'userEvent', function(event){
 if(event.action == "Contact Form Shown"){
  
  
   
  var dutch_cover_layer=document.createElement('div');
  dutch_cover_layer.id = 'dutch_cover_layer';
   dutch_cover_layer.setAttribute("style", "position:absolute; height:100%; width:100%; text-align:center; background-color:#fff;padding:0;");
  
 
  
  var frame_embed=frameBody.querySelector("#Embed");
  var form=frame_embed.querySelector("form");
  login_reminder_box.setAttribute("style", "position:absolute; width:100%; margin: 0; text-align:center; box-shadow: rgba(0, 0, 0, 0.08) 0px -0.0714286rem 0.857143rem;padding: 1.07143rem 1.42857rem;border-top: 0.0785714rem solid rgb(233, 235, 237);background: #fff;color: #df1b12;cursor:pointer;user-select: none;");
  login_reminder_box.appendChild(loginMSG); 
   login_reminder_box.addEventListener("click", loginFromWidget); 
  dutch_cover_layer.appendChild(login_reminder_box); 
  form.appendChild(dutch_cover_layer); 
  //console.log("form "+form);
  
  }});
  
  
  }else{
  //if user not logged in and has a false value for suppress the help center
  // turn off the contact form and show the help center
   zE('webWidget', 'updateSettings', {
   											contactForm: {
                                  'suppress': true
                          },
  helpCenter: {
                            'suppress': false     
                          }
                  });
  }
  //twisting 






  		
           			} //IF cust is logged out end
             
                });                 
         

  
   var chatLocale = HelpCenter.user.locale
  var chat_department="unknown"
  var country_code="unknown"




for (key in data){
    if(chatLocale == key)
    {
        //console.log(data[key]);
        chat_department=data[key][1].chat_department;
        country_code=data[key][0].country_code;
    }
}


 /*****ie11 hates this****** 
Object.keys(data).forEach((key,index)=>{
  
  if(key==chatLocale){
 
  chat_department=(data[key])[1].chat_department;
  country_code=(data[key])[0].country_code;
 
  }
  }); 
   *****ie11 hates this******/ 
	zE('webWidget', 'setLocale', country_code);	

  zE('webWidget:on', 'chat:departmentStatus', function(dept) {
  if (dept.name === chat_department && dept.status === 'online' && chatLocale === country_code ) {  
  zE('webWidget', 'updateSettings', {
    webWidget: {
      chat: {
        departments: {
          enabled: [''],
          select: chat_department
        },
        suppress: false
      }
    }
  });
} else { 
  if (dept.name === chat_department && dept.status !== 'online' && chatLocale === country_code ) {
        
        zE('webWidget', 'updateSettings', {
          webWidget: {
            chat: {
              suppress: true
            }
          }
        });


        function scf(){
  var a = document.getElementById('webWidget');
  var frameBody =  a.contentWindow.document.getElementsByTagName("body")[0];
  var frame_embed=frameBody.querySelector("#Embed");
  var form=frame_embed.querySelector("form");
  var layer=form.querySelector('div[id="conver_layer"]');
  layer.remove();

  
  }


   var phone_line=(document.getElementById("phoneline").textContent);
   if((phone_line.indexOf(chatLocale))==-1){
  //for no phone line country, show chat off line message when chat is off line
  zE('webWidget:on', 'userEvent', function(event){
 if(event.action == "Contact Form Shown"){
  	var a = document.getElementById('webWidget');
  
            		var frameBody =  a.contentWindow.document.getElementsByTagName("body")[0];
             		var frame_embed=frameBody.querySelector("#Embed");
             		var form=frame_embed.querySelector("form");
                if(form != null ){
  
  var cover_layer=document.createElement('div');
  cover_layer.id = 'conver_layer';
   cover_layer.setAttribute("style", "position:absolute; height:100%; width:100%; text-align:center; background-color:#fff;padding:0 5%;");
  
   var container_a=document.createElement('div');
   container_a.id = 'chat_offline';
  container_a.setAttribute("style", " width:100%; box-shadow:0 0.07143rem 0.57143rem 0 rgba(0, 0, 0, 0.2); border-radius:0.28571rem; text-align:center; padding:35px 0; user-select: none; margin-top:5%;");
   var chatOffline = document.createElement('span');
  
  var chatOffline_node = document.createTextNode(`{{dc "chatlabeloffline"}}`); 
  chatOffline.appendChild(chatOffline_node); 
  container_a.appendChild(chatOffline);
  
  
  var container_b=document.createElement('div');
  container_b.id = 'open_contactForm';
  container_b.setAttribute("style", " width:100%; box-shadow:0 0.07143rem 0.57143rem 0 rgba(0, 0, 0, 0.2); border-radius:0.28571rem; text-align:center; padding:35px 0; cursor:pointer;margin-top:5%;");
 var show_contactForm = document.createElement('span');
   
  
  var show_contactForm_node = document.createTextNode("{{dc 'contactformlabel'}}"); 
  			show_contactForm.appendChild(show_contactForm_node); 
  container_b.appendChild(show_contactForm);
  cover_layer.appendChild(container_b);
  cover_layer.appendChild(container_a);
  container_b.addEventListener("click", scf);
  
    form.appendChild(cover_layer); 
  
  
            }
  
 

  }
  
  });
  
  }






      } 
  }
}); 
  
  
          clearInterval(waitForZen);
        }, 100);
  
  
  
					<!-- End  of hiding email and name on webwidget -->  
  
          <!-- Google Tag Manager -->  
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer',tag_manager_container);
          <!-- End Google Tag Manager -->  
  
          }); <!-- End  of json mapping -->  
</script>




<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="true"></script>


<meta name="google-site-verification" content="ljumiUrq9ftUwsIQWi3VTRsv8EtAkpdjzejD-X6V0x0" /> 
<!-- Amy GSC -->
<meta name="google-site-verification" content="RwaPYuP6P4uhBt-5lwuPIKYfdf6nP9AgxV7mg6_Gi0k" /> 
<!-- KnowledgeMan GSC -->
<meta name="google-site-verification" content="ry6M6q-u8anFLdivhU-IZ1ZhGqY7uoH4tYKZ97ft1YA" /> 
<!-- Lorna GSC -->