    <div class="header_search">   
			<div class="tile-grid">
          <h2>{{ dc 'homepage_welcome'}}</h2>
        	{{search submit=false instant=settings.instant_search}}
      </div>
		</div>

<div class="error-page">
  <h1 class="error-title">{{t 'oops'}}. {{ t 'nonexistent_page'}}</h1>
     <p>We always want you to find your way! Use the search bar or try one of our suggestions.</p>
  <div class="error-flex">
      <div class="error-link">
      	{{#link 'help_center'}}
   			{{t 'back_to_homepage'}}
  			{{/link}}
   		</div>
  </div>
</div> 
