<footer class="footer">
  <div class="footer-social">
    <div class="footer-social-items">
      <a class="footer-social-items__item" href="https://www.facebook.com/TomTom/" title="Facebook" target="blank">
        <div class="social_image">
          <title>Facebook</title>
          <img src="{{asset 'arrow_down_red.png'}}">
        </div>
      </a>
      <a class="footer-social-items__item" href="https://twitter.com/tomtom" title="Twitter" target="blank">
        <div class="social_image">
        	<title>Twitter</title>
          <img src="{{asset 'arrow_down_red.png'}}">    
        </div>
      </a>
      <a class="footer-social-items__item" href="https://www.youtube.com/user/TomTomOfficial" title="YouTube" target="blank">
        <div class="social_image">
          <title>YouTube</title>
          <img src="{{asset 'arrow_down_red.png'}}">
        </div>
      </a>
      <a class="footer-social-items__item" href="https://www.linkedin.com/company/tomtom/" title="LinkedIn" target="blank">
        <div class="social_image">
          <title>LinkedIn</title>
          <img src="{{asset 'arrow_down_red.png'}}">
        </div>
      </a>
      <a class="footer-social-items__item" href="https://www.instagram.com/tomtomglobal/" title="Instagram" target="blank">
        <div class="social_image">
          <title>Instagram</title>
          <img src="{{asset 'arrow_down_red.png'}}">
        </div>
      </a>    
    </div>
  </div>
  
  <div class="footer__link-groups">
	<div class="footer__content footer__content--grid">
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_1'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_3'}}						
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_5'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_6'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_7'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_8'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_9'}}
					</li>
				</ul>
			</div>
		</div>
		
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_2'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_5'}}
					</li>
  					<li class="footer-link-group__item">
							{{dc 'footer_link_2_6'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_3'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_5'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_6'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_4'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_4_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_4_2'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_5'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_5'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_6'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_6'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_4'}}
					</li>
					</ul>
			</div>
		</div>	
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_7'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_7_1'}}
					</li>
				</ul>
			</div>
		</div>	
	</div>	  
  </div>
  
  <div class="footer_border_wrapper">
  
  <div class="footer_copyright">Copyright © 2020 TomTom International BV. All rights reserved.
  </div>
    
  <div class="footer-inner">
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
            <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
  </div>
</footer>