<footer class="footer">
  <div class="footer-social">
    <div class="footer-social-items">
      <a class="footer-social-items__item" href="https://www.facebook.com/TomTom/" title="Facebook" target="blank">
        <div class="social_image">
          <title>Facebook</title>
          <img src="{{asset 'Facebook_icon.png'}}">
        </div>
      </a>
      <a class="footer-social-items__item" href="https://twitter.com/tomtom" title="Twitter" target="blank">
        <div class="social_image">
        	<title>Twitter</title>
          <img src="{{asset 'Twitter_icon.png'}}">    
        </div>
      </a>
      <a class="footer-social-items__item" href="https://www.youtube.com/user/TomTomOfficial" title="YouTube" target="blank">
        <div class="social_image">
          <title>YouTube</title>
          <img src="{{asset 'YouTube_icon.png'}}">
        </div>
      </a>
      <a class="footer-social-items__item" href="https://www.linkedin.com/company/tomtom/" title="LinkedIn" target="blank">
        <div class="social_image">
          <title>LinkedIn</title>
          <img src="{{asset 'LinkedIn_icon.png'}}">
        </div>
      </a>
      <a class="footer-social-items__item" href="https://www.instagram.com/tomtomglobal/" title="Instagram" target="blank">
        <div class="social_image">
          <title>Instagram</title>
          <img src="{{asset 'Instagram_icon.png'}}">
        </div>
      </a>    
    </div>
  </div>
  
  <div class="footer__link-groups">
	<div class="footer__content footer__content--grid">
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_1'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_3'}}						
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_5'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_6'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_7'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_8'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_1_9'}}
					</li>
				</ul>
			</div>
		</div>
		
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_2'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_2_5'}}
					</li>
  					<li class="footer-link-group__item">
							{{dc 'footer_link_2_6'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_3'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_5'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_3_6'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_4'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_4_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_4_2'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_5'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_4'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_5'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_5_6'}}
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_6'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_1'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_2'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_3'}}
					</li>
					<li class="footer-link-group__item">
							{{dc 'footer_link_6_4'}}
					</li>
					</ul>
			</div>
		</div>	
		<div class="footer__link-group">
			<div class="footer-link-group">
				<div class="footer-link-group__label">
					<span class="text text--subheadline2">{{dc 'footer_header_7'}}</span>
				</div>
				<ul class="footer-link-group__items">
					<li class="footer-link-group__item">
							{{dc 'footer_link_7_1'}}
					</li>
				</ul>
			</div>
		</div>	
	</div>	  
  </div>
  
  <div class="footer_border_wrapper">
  
  <div class="footer_copyright">Copyright © 2020 TomTom International BV. All rights reserved.
  </div>
    
  <div class="footer-inner">
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class=" language-selector">
          <button class="dropdown-toggle footer_btn" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown_menu_add_on dropdown-menu-end wide_footer"  role="menu" id="tt_footer">
            <div class="footer_container">
            
            
            <div class="footer_column">
              <label class="footer_continent">Europe</label>
              <div id='europe' >
                
                    <a href="/hc/change_language/de-at?return_to=%2Fhc%2Fde-at" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image austria"></span>Österreich | de</a>
                
          
                
                      <a href="/hc/change_language/nl-be?return_to=%2Fhc%2Fnl-be" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image belgium"></span>België | nl</a>
                
                      <a href="/hc/change_language/fr-be?return_to=%2Fhc%2Ffr-be" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image belgium"></span>Belgique | fr</a>
                
                    <a href="/hc/change_language/cs?return_to=%2Fhc%2Fcs" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image czech_republic"></span>Ceská Republika | cs</a>
                
                
                  <a href="/hc/change_language/da?return_to=%2Fhc%2Fda" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image denmark"></span>Danmark | da</a>
            
            
                 <a href="/hc/change_language/fi?return_to=%2Fhc%2Ffi" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image finland"></span>Suomi | fi</a>
                
                
                   <a href="/hc/change_language/fr?return_to=%2Fhc%2Ffr" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image france"></span>France | fr</a>
                
                
                <a href="/hc/change_language/de?return_to=%2Fhc%2Fde" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image germany"></span>Deutschland | de</a>
                
                  <a href="/hc/change_language/en-gr?return_to=%2Fhc%2Fen-gr" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image greece"></span>Ελλάδα | en</a>
                
                          <a href="/hc/change_language/en-hu?return_to=%2Fhc%2Fen-hu" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image hungary"></span>Magyarország | en</a>
                
              
                <a href="/hc/change_language/en-ie?return_to=%2Fhc%2Fen-ie" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image ireland"></span>Ireland | en</a>
                  <a href="/hc/change_language/it?return_to=%2Fhc%2Fit" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image italy"></span>Italia | it</a>
                
                
                
                
            
                
               
                
             
                
               
                
                
              </div>
            </div>
            
            <div class="footer_column ">
                <label class="footer_continent"></label>
              
                         
              <a href="/hc/change_language/fr-lu?return_to=%2Fhc%2Ffr-lu" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image luxembourg"></span>Luxembourg | fr</a>
              
              
              
              <a href="/hc/change_language/nb?return_to=%2Fhc%2Fnb" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image norway"></span>Norge | no</a>
              
               <a href="/hc/change_language/pl?return_to=%2Fhc%2Fpl" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image poland"></span>Polska | pl</a>
              
              
                   
              <a href="/hc/change_language/pt?return_to=%2Fhc%2Fpt" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image portugal"></span>Portugal | pt</a>
              
                   
                <a href="/hc/change_language/es?return_to=%2Fhc%2Fes" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image spain"></span>España | es</a>
              
              
                 <a href="/hc/change_language/sv?return_to=%2Fhc%2Fsv" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image sweden"></span>Sverige | sv</a>
              
                   <a href="/hc/change_language/fr-ch?return_to=%2Fhc%2Ffr-ch" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image switzerland"></span>Suisse | fr</a>
            
                
                <a href="/hc/change_language/de-ch?return_to=%2Fhc%2Fde-ch" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image switzerland"></span>Schweiz | de</a>
              
                 <a href="/hc/change_language/nl?return_to=%2Fhc%2Fnl" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image netherlands"></span>The Nederland | nl</a>
                                             
              <a href="/hc/change_language/tr?return_to=%2Fhc%2Ftr" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image turkey"></span>Türkiye | tr</a>
      
             <a href="/hc/change_language/en-gb?return_to=%2Fhc%2Fen-gb" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image united_kingdom"></span>United Kingdom | en</a>
            
            
            </div>
            
            
            
            <div class="footer_column">
              <label class="footer_continent">Americas</label>
              <div id='americans' >
                
                          <a href="/hc/change_language/es-ar?return_to=%2Fhc%2Fes-ar" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image argentina"></span>Argentina | es</a>
                
                     <a href="/hc/change_language/pt-br?return_to=%2Fhc%2Fpt-br" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image brasil"></span>Brasil | pt</a>
              
              	<a href="/hc/change_language/en-ca?return_to=%2Fhc%2Fen-ca" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image canada"></span>Canada (en) | en</a>
                
                         <a href="/hc/change_language/fr-ca?return_to=%2Fhc%2Ffr-ca" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image canada"></span>Canada (fr) | fr</a>
                
                       <a href="/hc/change_language/es-mx?return_to=%2Fhc%2Fes-mx" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image mexico"></span>México | es</a>
                
                <a href="/hc/change_language/en-us?return_to=%2Fhc%2Fen-us" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image usa"></span>United States of America | en</a>
                
      
                
         
                
       
                
           
                
                
              
              </div>
              
              
              <label class="footer_continent">Africa</label>
              <div id='africa' >
                <a href="/hc/change_language/en-za?return_to=%2Fhc%2Fen-za" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image south_africa"></span>South Africa | en</a>
              </div>
              
            </div>
            
            
            <div class="footer_column">
<!--               <label class="footer_continent">Africa</label>
              <div id='africa' >
                <a href="/hc/change_language/en-za?return_to=%2Fhc%2Fen-za" dir="ltr" rel="nofollow" role="menuitem"><span class="tt-flag-image south_africa"></span>South Africa | en</a>
              </div> -->
            </div>
            
            <div class="footer_column">
              <label class="footer_continent">Asia Pacific</label>
              <div id='asia' >
                <a href="/hc/change_language/en-au?return_to=%2Fhc%2Fen-au" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image australia"></span>Australia | en</a>
                
                <a href="/hc/change_language/zh-cn?return_to=%2Fhc%2Fzh-cn" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image china"></span>简体中文 | zh</a>
                
                <a href="/hc/change_language/ja?return_to=%2Fhc%2Fja" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image japan"></span>日本 | ja</a>
                
                
<a href="/hc/change_language/en-nz?return_to=%2Fhc%2Fen-nz" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image new_sealand"></span>New Zealand | en</a>
<a href="/hc/change_language/en-sg?return_to=%2Fhc%2Fen-sg" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image singapore"></span>Singapore | en</a>

<a href="/hc/change_language/ko?return_to=%2Fhc%2Fko" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image korea"></span>대한민국 | ko</a>

<a href="/hc/change_language/zh-tw?return_to=%2Fhc%2Fzh-tw" dir="ltr" rel="nofollow" role="menuitem">
    <span class="tt-flag-image taiwan"></span>繁體中文 | zh</a>
                
                
                
              </div>
            </div>
            
</div>
          </span>

        </div>
      {{/if}}
   
    </div>  
<!--     close class="footer-language-selector" -->
  </div>   
<!--     close class="footer-inner" -->
    
    
    
    
    
    
  </div>
</footer>