


<script type="text/javascript">
  //utage data
   var the_url= window.location.href;
  
  //load script function
  jQuery.loadScript = function (url, callback) {
    jQuery.ajax({
        url: url,
        dataType: 'script',
        success: callback,
        async: true
    });
}
//load script function
  
  
//loading the script
    
  //solution 2 
  if (the_url.indexOf("sandbox")!= -1) {
  
  $.loadScript('//tags.tiqcdn.com/utag/tomtom/support/qa/utag.js', function(){
//in sandbox
  });
  
  }
  
  if (the_url.indexOf("sandbox")== -1) {
  
  $.loadScript('//tags.tiqcdn.com/utag/tomtom/support/prod/utag.js', function(){ 
//on production
  });
  
  }
  
  //solution 2 
  
  
  
  //loading the script
  //
  
  
   var cutter= ".tomtom.com/hc/";
   var region_string=the_url.split(cutter)[1];
   var region=region_string.split('/')[0];
   var ref= document.referrer;
   var category="";
  
if(the_url.indexOf("categories")!= -1){
  var finding_category=the_url.split('/');
  category=finding_category[finding_category.length-1];
  }else{
  category="unknow";
  }
 
  var utag_data={
      site_name     : "support.tomtom.com",
      site_region  : region,
      site_language : region,
      page_referringURL  : ref,
      page_name : document.title,
  		page_id:"",
  		page_category:category,
  		page_type_id:"",
  
  };
  
  
  console.log(utag_data);
  //utag data 
  
</script>

<header class="header">
  <div class="logo">
    <a href="https://uk.support.tomtom.com/app/home">
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
    </a>
  </div>
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
  </div>
  
<!--   temporary button for testing DDA386 SSO login redirect -->
<!--   uncomment this block to test  createSSOcookie(); and redirectAfterLogin(); two functions -->
<!--   <style> 
    .temp_button{
    cursor:pointer;
    background-color:#8DC3EB;
    padding:1px 5px;
    border-radius:5px;
    }
    </style>
  <div class="temp_button" id="sso_cookie"><span>SSO cookie</span></div>
  <div class="temp_button" id="sso_redirect"><span>SSO redirect</span></div> -->
<!--   temporary button for testing DDA386 SSO login redirect -->
  
  </header>
  

<!--   cookie bar, author levitt  -->
  <div class="cookie_bar zd_Hidden" id="tt_cookie_bar">
    <div class="cookie_bar_inner">
      <div class="cookie_bar_text">
      <span id="cookie_bar_content">{{dc 'cookie_bar_content'}}</span> 
<!--         <span id="cookie_bar_post_decline_text" class='zd_Hidden'> {{dc 'cookie_bar_post_decline_text'}}</span> -->
       
      </div>
      <div class="cookie_bar_buttons_container">
        <div class="button cookie_bar_buttons" id="cookie_bar_buttons_accept"><span class="cookie_bar_buttons_accept">{{dc 'cookie_bar_accept'}}</span></div>
         <div class="cookie_bar_buttons" id="cookie_bar_buttons_decline"><span class="cookie_bar_buttons_decline">{{dc 'cookie_bar_decline'}}</span></div>
<!--          <div class="cookie_bar_buttons zd_Hidden" id="cookie_bar_buttons_post_close"><span class="cookie_bar_buttons_x">{{dc 'close_icon'}}</span></div> -->
      </div>
    
    </div>
  </div>
  <!--   cookie bar, author levitt  -->

  <!--   Exit survey, author levitt  -->
  <div id="survey_modal" class="modal zd_Hidden">
    <span id="es_thx" class="zd_Hidden">{{dc 'exit_survey_post_response'}}</span>

        <div id="survey_body" class="">

            <div id="survey_title">
                <img id="head" src="{{asset 'exit_survey_header.png'}}">
            </div>

            <div id="survey_backgound">

                <div class="survey_question" style="">
                    <h3 id="greetings" class="cap"> {{dc 'exit_survey_question'}}</h3>
                </div>

                <div class="option_container">
                    <div class="op" id="option_yes">
                        <span id="options" class="tt_survey_btn cap"> {{dc 'yes'}}</span>
                    </div>

                    <div class="op" id="option_no">
                        <span id="options" class="tt_survey_btn cap">{{dc 'no'}}</span>
                    </div>
                </div>

                <div class="check_box_area" id="newchkbox">
                    <input type="checkbox" class="check__box zd_Hidden" id="checkboxMSG">
                    <div id="agree">
                        <div id="agree_inner" class="zd_Hidden">
                            <svg width="13" height="10" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" style="width: 13px; height: 10px;">
                                <path d="M4.32 7.4L1.3 4.36 0 5.67 4.32 10 13 1.3 11.7 0z" fill-rule="evenodd" fill="#BDD731"></path>
                            </svg>
                        </div>
                    </div>
                    <span id="msgspan" for="checkboxMSG" class="">{{dc 'exit_survey_do_not_ask_again'}}</span>
                </div>

            </div>

        </div>

    </div>
  <!--   Exit survey, author levitt  -->
   <!--   Locale Pop up, author Amy  --> 
 <div class="locale_overlay overlay zd_Hidden">
     <div class="overlay_inner">
        <div class="locale_box">
            <div class="locale_content">
              <div class="locale_map">
                <div class="image">
                  <img class="locale_map_image image" src="{{dc "locale_pop_up_image"}}" alt="Map image" width="600" height="950">
                </div>
              </div>
              <div class="locale_text_content">
                <div class="locale_text_heading">{{dc "locale_pop_up_heading"}}</div>
                <a class="locale_text_country" href="thishrefneeedstobesomethingsmart">
                  <div class="locale_text_flag_outline">
                    <div class="locale_text_flag_image">
                      <img class="" src="https://webassets.tomtom.com/m/2b2a875709f0cd74/original/flag-nl_nl-100x67.png" alt="Netherlands flag image" width="100" height="67">
                    </div>
                  </div>
                  <div class="locale_text_country_label">The Netherlands</div>
                </a>
                <div class="locale_text_country_text">{{dc "locale_pop_up_text"}}</div>
                <div class="locale_text_country_buttons">
                  <div class="locale_text_country_buttons_inner">
                    <div class="locale_text_country_button">
                      <div class="button button-white">
                        <span class="button__link" tabindex="0">{{dc "locale_pop_up_button"}}</span>
                      </div>
                    </div>
                    <div class="locale_text_country_button">
                      <div class="button button-red">
                        <a class="button-red" href="/nl_nl/changeLocale.html?pageUrl=%2Fen_gb%2Fsat-nav%2Fcar-sat-nav%2F" tabindex="0">Shop in: The Netherlands</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   <!--   Locale Pop up, author Amy  --> 

  
  
  
