
<label class="zd_Hidden" id="chatLabel">{{dc 'chatlabel'}}</label>
<label class="zd_Hidden" id="chatlabelonline">{{dc 'chatlabelonline'}}</label>
<label class="zd_Hidden" id="chatlabeloffline">{{dc 'chatlabeloffline'}}</label>
<label class="zd_Hidden" id="contactformlabel">{{dc 'contactformlabel'}}</label>
<label class="zd_Hidden" id="widget_helpcenter_placeholder">{{dc 'widget_helpcenter_placeholder'}}</label>
<label class="zd_Hidden" id="phoneline">{{dc 'phoneline'}}</label>
<label class='zd_Hidden' id='searchbar_placeholder'>{{dc 'searchbar_placeholder'}}</label>
<!-- load Map and tealium -->

<label class="zd_Hidden" id="tealium">{{asset 'tealium.js'}}</label>
<label class="zd_Hidden" id="map_json">{{asset 'mappublic.json'}}</label>

<script>
  var utag_data="";
</script>

<script type="text/javascript" >  
 var tea; //this var will hold the utag src from Map.JSON
  var utagFC=document.createElement('script'); // create a script tag to load the custome tealium function
  utagFC.onload = function () { // when tealium function is loaded
	 tea=tealium();// call the function and var tea will get the utag src
  var tealiumScript = document.createElement('script'); //create a tag to load utag   
  utag_data=tea.utag_data_slot;
  tealiumScript.src = tea.tealium_script_slot;//get the src for utag script
  document.head.appendChild(tealiumScript); //append to document head 
 };
  utagFC.src='https:'+document.getElementById("tealium").innerHTML; //get the tealium function access url from map tealium.js from asset
  document.head.appendChild(utagFC);// append to document head 
</script>





<header class="header">
  <div class="header-inner">
        <div id="nav-main-hamburger" class="nav-main-hamburger"><svg width="16" height="15"><path d="M16 14.5H0v-2h16zm0-6H0v-2h16zm0-6H0v-2h16z"></path></svg></div>
  <div class="logo header-logo">
    <a href="https://www.tomtom.com/en_gb/navigation/">
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
    </a>
  </div>
  <div id="nav-wrapper" class="nav-wrapper">
    <div class="nav-main-items">
      <div class="nav-main-items-inner">
        <ul class="nav-text-links">
          <li class="nav-text-link">
            <div class="header-link">
              <a class="header-link-href" href="https://www.tomtom.com/sat-nav/">{{dc 'header_title_1'}}</a>
            </div>
          </li>
          <li class="nav-text-link">
            <div class="header-link">
              <a class="header-link-href" href="https://www.tomtom.com/sat-nav/maps-services/">{{dc 'header_title_2'}}</a>
            </div>
          </li>
          <li class="nav-text-link">
            <div class="header-link">
              <a class="header-link-href" href="https://help.tomtom.com/hc/">{{dc 'header_title_3'}}</a>
            </div>
          </li>
          <li class="nav-text-link">
            <div class="header-link">
              <a class="header-link-href" href="https://www.tomtom.com/sat-nav/sat-nav-app/">{{dc 'header_title_4'}}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-icons">
            <a class="nav-icon" href="https://www.tomtom.com/store/basket-overview.html" title="Basket">
              <svg width="16" height="16">
                <path d="M6 12a2 2 0 110 4 2 2 0 010-4zm6 0a2 2 0 110 4 2 2 0 010-4zM3 0a1 1 0 01.976.783L5.802 9h6.443l1.429-5H7a1 1 0 010-2h8a1 1 0 01.96 1.275l-1.999 7A1 1 0 0113 11H5a1 1 0 01-.976-.783L2.198 2H1a1 1 0 010-2h2z" fill-rule="evenodd">
                </path>
              </svg>
  				  </a>
<!--       <div class="nav-wrapper"> -->
    {{user_info}}
<!--   </div> -->
    </div>
  </div>
</header>
  


  <div class="cookie_bar zd_Hidden" id="tt_cookie_bar">
    <div class="cookie_bar_inner">
      <div class="cookie_bar_text">
      <span id="cookie_bar_content">{{dc 'cookie_bar_content'}}</span> 
<!--         <span id="cookie_bar_post_decline_text" class='zd_Hidden'> {{dc 'cookie_bar_post_decline_text'}}</span> -->
       
      </div>
      <div class="cookie_bar_buttons_container">
        <div class="button cookie_bar_buttons" id="cookie_bar_buttons_accept"><span class="cookie_bar_buttons_accept">{{dc 'cookie_bar_accept'}}</span></div>
         <div class="cookie_bar_buttons" id="cookie_bar_buttons_decline"><span class="cookie_bar_buttons_decline">{{dc 'cookie_bar_decline'}}</span></div>
<!--          <div class="cookie_bar_buttons zd_Hidden" id="cookie_bar_buttons_post_close"><span class="cookie_bar_buttons_x">{{dc 'close_icon'}}</span></div> -->
      </div>
    
    </div>
  </div>

  <div id="survey_modal" class="modal zd_Hidden">
    <span id="es_thx" class="zd_Hidden">{{dc 'exit_survey_post_response'}}</span>

        <div id="survey_body" class="">

            <div id="survey_title">
                <img id="head" src="{{asset 'exit_survey_header.png'}}">
            </div>

            <div id="survey_backgound">

                <div class="survey_question" style="">
                    <h3 id="greetings" class="cap"> {{dc 'exit_survey_question'}}</h3>
                </div>

                <div class="option_container">
                    <div class="op" id="option_yes">
                        <span id="options" class="tt_survey_btn cap"> {{dc 'yes'}}</span>
                    </div>

                    <div class="op" id="option_no">
                        <span id="options" class="tt_survey_btn cap">{{dc 'no'}}</span>
                    </div>
                </div>

                <div class="check_box_area" id="newchkbox">
                    <input type="checkbox" class="check__box zd_Hidden" id="checkboxMSG">
                    <div id="agree">
                        <div id="agree_inner" class="zd_Hidden">
                            <svg width="13" height="10" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" style="width: 13px; height: 10px;">
                                <path d="M4.32 7.4L1.3 4.36 0 5.67 4.32 10 13 1.3 11.7 0z" fill-rule="evenodd" fill="#BDD731"></path>
                            </svg>
                        </div>
                    </div>
                    <span id="msgspan" for="checkboxMSG" class="">{{dc 'exit_survey_do_not_ask_again'}}</span>
                </div>
            </div>
        </div>
    </div>

 <div class="locale_overlay overlay zd_Hidden">
     <div class="overlay_inner">
        <div class="locale_box">
            <div class="locale_content">
              <div class="locale_map">
                <div class="image">
                  <img class="locale_map_image image" src="" alt="Map image" width="600" height="950">
                </div>
              </div>
              <div class="locale_text_content">
                <div class="locale_text_heading">{{dc "locale_pop_up_heading"}}</div>
                <a class="locale_text_country" href="thishrefneeedstobesomethingsmart">
                  <div class="locale_text_flag_outline">
                    <div class="locale_text_flag_image">
                      <img class="" src="https://webassets.tomtom.com/m/2b2a875709f0cd74/original/flag-nl_nl-100x67.png" alt="Netherlands flag image" width="100" height="67">
                    </div>
                  </div>
                  <div class="locale_text_country_label">The Netherlands</div>
                </a>
                <div class="locale_text_country_text">{{dc "locale_pop_up_text"}}</div>
                <div class="locale_text_country_buttons">
                  <div class="locale_text_country_buttons_inner">
                    <div class="locale_text_country_button">
                      <div class="button button-white">
                        <span class="button__link" tabindex="0">{{dc "locale_pop_up_button"}}</span>
                      </div>
                    </div>
                    <div class="locale_text_country_button">
                      <div class="button button-red">
                        <a class="button-red" href="/nl_nl/changeLocale.html?pageUrl=%2Fen_gb%2Fsat-nav%2Fcar-sat-nav%2F" tabindex="0">Shop in: The Netherlands</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


         {{#if promoted_articles}}
              <section class="articles promoted-articles-box">
                <div class="promoted_header"><div class="close">{{dc 'close_icon'}}</div><div id="promoted-arrow" class="zd_Hidden"></div></div>
                <ul class="article-list promoted-articles" id="promoted-articles">
                  {{#each promoted_articles}}
                    <li class="promoted-articles-item mySlides">
                        <a href="{{url}}">
                          {{title}}
                          {{#if internal}}
                            <span class="icon-lock" title="{{t 'internal'}}"></span>
                          {{/if}}
                          <div class="promoted-articles-button">{{dc 'read_more'}}</div>
                        </a>
                    </li>
                  {{/each}}
                </ul>
               		<div id="left-arrow" onclick="plusSlides(-1)">  </div>                  
                  <div id="right-arrow" onclick="plusSlides(1)"></div>
              </section>
					{{/if}}
               



<!-- start load bongo  --> 
<script>
!function(e,t,n,r){
   function s(){try{var e;if((e="string"==typeof this.response?JSON.parse(this.response):this.response).url){var n=t.getElementsByTagName("script")[0],r=t.createElement("script");r.async=!0,r.src=e.url,n.parentNode.insertBefore(r,n)}}catch(e){}}var o,p,a,i=[],c=[];e[n]={init:function(){o=arguments;var e={then:function(t){return c.push({type:"t",next:t}),e},catch:function(t){return c.push({type:"c",next:t}),e}};return e},on:function(){i.push(arguments)},render:function(){p=arguments},destroy:function(){a=arguments}},e.__onWebMessengerHostReady__=function(t){if(delete e.__onWebMessengerHostReady__,e[n]=t,o)for(var r=t.init.apply(t,o),s=0;s<c.length;s++){var u=c[s];r="t"===u.type?r.then(u.next):r.catch(u.next)}p&&t.render.apply(t,p),a&&t.destroy.apply(t,a);for(s=0;s<i.length;s++)t.on.apply(t,i[s])};var u=new XMLHttpRequest;u.addEventListener("load",s),u.open("GET",r+"/loader.json",!0),u.responseType="json",u.send()
}(window,document,"Bots", "https://objectstorage.us-ashburn-1.oraclecloud.com/n/bots4saas/b/TomTom/o");

</script>
<!-- end load bongo  --> 


  
