<section class="section hero">
  <div class="hero-inner">
    <h1>{{dc 'homepage_welcome'}}</h1>
    <p>{{dc 'homepage_tagline'}}</p>
    {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Type keyword'}}
        {{#if signed_in}}
<!--         		<p><a class="login hero_login" data-auth-action="signin" role="" rel="nofollow" title="Opens a dialogue" href="/hc/en-gb/signin?return_to=https%3A%2F%2Fsupportsandbox.tomtom.com%2Fhc%2Fen-gb&amp;locale=en-gb">{{dc 'homepage_login'}}</a></p> -->
				{{else}}
        		<p><a class="login hero_login" data-auth-action="signin" role="" rel="nofollow" title="Opens a dialogue" href="/hc/en-gb/signin?return_to=https%3A%2F%2Fsupportsandbox.tomtom.com%2Fhc%2Fen-					gb&amp;locale=en-gb">{{dc 'homepage_login'}}</a></p>
        {{/if}}
    <p><a class="search_link" href="{{dc 'find_serial_number_link'}}">{{dc 'find_serial_number'}}</a> </p>
  </div>
</section>


<div class="home_container">
  <section class="section knowledge-base" id="home-section">
    <h2>{{dc 'homepage_category_block_title'}}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">       
                <img class="category-icon" src="
                                                {{#contains url '360002347259'}}  
                                                {{asset 'navigation-devices.png'}}
                                                {{/contains}}
                                                {{#contains url '360002347279'}}  
                                                {{asset 'apps.png'}}
                                                {{/contains}}
                                                {{#contains url '360002323840'}}  
                                                {{asset 'sports.png'}}
                                                {{/contains}}
                                                {{#contains url '360002415879'}}   
                                                {{asset 'accounts-orders.png'}}
                                                {{/contains}}
                                                {{#contains url '360002396000'}}  
                                                {{asset 'user-manuals.png'}}
                                                {{/contains}}
                                                {{#contains url '360002415859'}}
                                                {{asset 'learn-more.png'}}
                                                {{/contains}}
                                                ">                
                <h4 class="blocks-item-title">{{name}}</h4>
<!--                 <p class="blocks-item-description">{{excerpt description}}</p> -->
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles promoted-articles-box">
        <div class="promoted_header"><h4>{{dc 'announcements_title'}}</h4><div class="close">{{dc 'close_icon'}}</div></div>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}
                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                  <div class="button promoted-articles-button"></div>
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
</div>
