<div class="home_container">
<section class="section knowledge-base" id="home-section"></section>
<!--     <h2>{{dc 'homepage_category_block_title'}}</h2> -->
    <section class="categories blocks">
      <div class="tile-grid">
        <div class="tile-grid__groups">
      <ul class="tile-grid__group">
        <li class="blocks-item-home blocks-item tile-grid-group__tile" id="">
                     <section class="">
                 			 <div class="homepage-title">
                    			<h1>{{dc 'homepage_welcome'}}</h1>
                  	  		<p>{{dc 'homepage_tagline'}}</p>
                 	   						{{search instant=settings.instant_search class='search search-full'}}
                  				</div>
                				</section>
        </li>
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item tile-grid-group__tile" id="blocks-item-{{id}}">
              <a href='{{url}}' class="blocks-item-link">       
<!--                 <img class="category-icon" src="{{asset 'apps.png'}}">                 -->
                <h4 class="blocks-item-title">{{name}}</h4>
 						    <p class="blocks-item-description">{{excerpt description}}</p>
                <div class="button"></div>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                  
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      </div>
    </div>
      {{pagination}}
    </section>
         

<!--   </section> -->
  
  
  
  


