    <div class="header_search">   
			<div class="tile-grid">
          <h2>{{ dc 'homepage_welcome'}}</h2>
        	{{search submit=false instant=settings.instant_search}}
      </div>
		</div>


<div class="container">
    <h1 id="form_title">
    {{t 'submit_a_request'}}
  </h1>  
  <div class="form">
    {{request_form}}
    
     <!-- Strap page - article dropdown -->
    <div id="manual_added" class="zd_Hidden">
      <label id="article_no_label" class="required manual_fields_select">{{ dc 'strap_replace_select_option'}}</label>
      <select id="article_no" class="required manual_fields">
        <option id="select_article" value="0"></option>
      </select> 
      <div id="address_details" class=""> {{dc 'strap_page_check_user_address'}} </div> 
    </div>
    <!-- End : Strap page - article dropdown -->
  </div>
  
</div>
<label class="zd_Hidden" id="GDPR_page_title">{{dc 'form_title_-_gdpr'}}</label>
<label class="zd_Hidden" id="golf_page_title">{{dc 'form_title_-_golf_form'}}</label>
<label class="zd_Hidden" id="strap_page_title">{{dc 'form_title_-_strap_request'}}</label>
<label class="zd_Hidden" id="email_page_title">{{dc 'form_title_-_contact_us'}}</label>
<label class="zd_Hidden" id="refund_request_page_title">{{dc 'form_title_-_refund_request'}}</label>
<label class="zd_Hidden" id="auto_renewal_request_page_title">{{dc 'auto-renewal_refund_request'}}</label>
<label class="zd_Hidden" id="renewal_refund_request_intro">{{dc 'auto-renewal_refund_request_intro'}}</label>
<label class="zd_Hidden" id="renewal_refund_amount">{{dc 'auto-renewal_refund_amount_speedcameras'}}</label>
<label class="zd_Hidden" id="renewal_refund_currency">{{dc 'currency'}}</label>
<label class="zd_Hidden" id="request_forms">{{asset 'forms.js'}}</label>
<label class="zd_Hidden" id="strap_form_tips">{{dc 'strap_form_notification'}}</label>
<label class="zd_Hidden" id="golf_form_tips">{{dc 'golf_form_notification'}}</label>

<script>
  $.loadScript('https:'+document.getElementById("request_forms").innerHTML);
</script>