    <div class="header_search">   
			<div class="tile-grid">
          <h2>{{ dc 'homepage_welcome'}}</h2>
        	{{search submit=false instant=settings.instant_search}}
      </div>
		</div>


<div class="tile-grid">
    <h1 id="form_title">
    {{t 'submit_a_request'}}
  </h1>  
{{#if signed_in}}
  <div class="form">
    {{request_form}}
    
     <!-- Strap page - article dropdown -->
    <div id="manual_added" class="zd_Hidden">
		<p id="eol_prefix_alert" class="zd_Hidden">{{ dc 'strap_page_eol_prefix_alert' }}</p>
      <label id="article_no_label" class="required manual_fields_select">{{ dc 'strap_replace_select_option'}}</label>
      <select id="article_no" class="required manual_fields">
        <option id="select_article" value="0"></option>
      </select> 
      <div id="address_details" class=""> {{dc 'strap_page_check_user_address'}} </div> 
    </div>
    <!-- End : Strap page - article dropdown -->
  </div>
  {{else}}
  <div class="form_anon">
  	<div id="form_anon_message">
 			<p>{{dc 'form_message_not_logged_in'}}</p>
  	 		<a class="" data-auth-action="signin" role="button" rel="nofollow" title="Opens a dialogue" href="/hc/en-gb&amp;locale=en-gb">{{dc 'homepage_login'}}</a>
    </div>
    <div id="form_anon_hidden" class="form zd_Hidden">
      {{request_form}}
    </div>
  {{/if}}
</div>
<label class="zd_Hidden" id="GDPR_page_title">{{dc 'form_title_-_gdpr'}}</label>
<label class="zd_Hidden" id="form_title_account_issues">{{dc 'form_title_account_issues'}}</label>
<label class="zd_Hidden" id="account_issues_tips">{{dc 'account_issues_notification'}}</label>
<label class="zd_Hidden" id="golf_page_title">{{dc 'form_title_-_golf_form'}}</label>
<label class="zd_Hidden" id="strap_page_title">{{dc 'form_title_-_strap_request'}}</label>
<label class="zd_Hidden" id="email_page_title">{{dc 'form_title_-_contact_us'}}</label>
<label class="zd_Hidden" id="refund_request_page_title">{{dc 'form_title_-_refund_request'}}</label>
<label class="zd_Hidden" id="auto_renewal_request_page_title">{{dc 'auto-renewal_refund_request'}}</label>
<label class="zd_Hidden" id="renewal_refund_request_intro">{{dc 'auto-renewal_refund_request_intro'}}</label>
<label class="zd_Hidden" id="renewal_refund_amount">{{dc 'auto-renewal_refund_amount_speedcameras'}}</label>
<label class="zd_Hidden" id="renewal_refund_currency">{{dc 'currency'}}</label>
<label class="zd_Hidden" id="request_forms">{{asset 'forms.js'}}</label>
<label class="zd_Hidden" id="strap_form_tips">{{dc 'strap_form_notification'}}</label>
<label class="zd_Hidden" id="golf_form_tips">{{dc 'golf_form_notification'}}</label>
<label class="zd_Hidden" id="RMA_form_title">{{dc 'rma_form_title'}}</label>
<label class="zd_Hidden" id="rider_extra_warranty_form_title">{{dc 'extra_warranty'}}</label>


<script>
  $.loadScript('https:'+document.getElementById("request_forms").innerHTML);
</script>