<!-- Repair/BuRMA CSS and JS -->
<style>
 #cs_BURMA_Frame, #no_BURMA_user, #repair_user, #cs_MyRepair_Details, #cs_MyRepair_List {
	display: none;
}
</style>

<script type="text/javascript">
    //general cookie functions
    //levitt 

    function read_cookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    };


    function set_cookie(name, value, time) {
        //this is a  function which can set cookie with our without time 
      //when time==0, set a function cookie without expire time
        if(time==0){
        document.cookie = name + '=' + value + ';domain=.tomtom.com; path=/; ';
      }else{
         var CookieDate = new Date();
          var today = new Date();
  
          CookieDate.setTime(today.getTime() + time);
          document.cookie = name + '=' + value + ';domain=.tomtom.com; path=/; expires=' + CookieDate.toGMTString() + ';';
      }
      };
$(document).ready(function(){ 
    //Code for BuRMA SSO cookie creation - Start 
    var server_url = 'https://10.66.244.239/zenApi/src/repairController.php';
     if(window.location.hostname.indexOf('help') >= 0) {
			server_url = 'https://tccare.tomtomgroup.com/zenApi/src/repairController.php';
    }
    if (read_cookie("tt_cp_auth") === "" && HelpCenter.user.email != null){
      $.ajax({
        url : server_url,
        type : 'POST',
        dataType:'JSON',
        data : { ce_check: HelpCenter.user.email},
        success : function(response) {
          set_cookie("tt_cp_auth",response.encryptemail,3600000);
        }
      });
    }
  //Code for BuRMA SSO cookie creation - End // Asmita
  
  $.getJSON(id_map_data_source, function(data) {
  	var php_api_server = -1;
  	if (the_url.indexOf("sandbox")!= -1) {
  		php_api_server=data.vanilla_sso_server.sandbox; 
    } else {
  		php_api_server = data.vanilla_sso_server.prod;
  	}
  
    ///BuRMA call setup          
    ////get current user 
    var current_user = HelpCenter.user.email;
		var server_url = php_api_server+'zenApi/src/repairController.php';
  
    apiendpoint = "contact/type/";
  	///// call api for getting user type ///// 
    getAPIresponse(apiendpoint, current_user, 'getusertype');

    function successCallBack(data){
    	///If API is for checking user type///
     	if(data.requesttype == 'getusertype') {
        contacttype = data.result.type;
        if(contacttype == 3) {	////if user is BuRMA, show ifrmae
           $('#tt_burma').attr('src', data.burmaLocaleUrl);
           $('#cs_BURMA_Frame').show();
        } else {
           apiendpoint = "rma/list/"+current_user;
           getAPIresponse(apiendpoint, current_user, 'getrmalist');
        }
     	} else if(data.requesttype == 'getrmalist') {
  			var rmalist = data.result;
        $.each(rmalist, function(index, value){          
          if(!isNaN(index)) {
            var requestStatusTtitle = getRequestStatus(value.statusName);
            $("#MyRepair_List").find("tbody").append("<tr><td class='MyRepairDetails' id='"+value.rmaID+"' >"+value.product+"</td><td>"+value.datecreated+"</td><td class='requests-table-status'><span class='rma_status'>"+requestStatusTtitle+"</span></td></tr>"); 
            if(value.statusName == "repairs_request_status_05") {
							if(value.type == "DER" || value.type == "OOW") {
								$(".rma_status").find(".BUF").hide();
              } else if(value.type == "BUF") {
								$(".rma_status").find(".DER").hide();
              }
            } else if (value.statusName == "repairs_request_status_07") {
							if(value.type == "DER" || value.type == "OOW") {
								$(".rma_status").find(".BUF").hide();
              } else if(value.type == "BUF") {
								$(".rma_status").find(".DER").hide();
              }
            }
          }                   
        });
  			$("#cs_MyRepair_List").show();                                      
   		}  else {  
  			requestDetails = data.result;
        $('#cs_MyRepair_Details').show();
        $("#request_name").html("<b>"+requestDetails.request+"</b>");
        $("#date_created").html(requestDetails.datecreated);
        $("#date_updated").html(requestDetails.dateupdated);
        var requestStatusTtitle = getRequestStatus(requestDetails.requeststatusname);
        $("#current_status").html(requestStatusTtitle);
        if(requestDetails.requeststatusname == "repairs_request_status_05") {
          if(requestDetails.rmatype == "DER" || requestDetails.rmatype == "OOW") {
            $("#current_status").find(".BUF").hide();
          } else if(requestDetails.rmatype == "BUF") {
            $("#current_status").find(".DER").hide();
          }
        } else if (requestDetails.requeststatusname == "repairs_request_status_07") {
          if(requestDetails.rmatype == "DER" || requestDetails.rmatype == "OOW") {
            $(".current_status").find(".BUF").hide();
          } else if(requestDetails.rmatype == "BUF") {
            $(".current_status").find(".DER").hide();
          }
        }
        $("#customer").html(requestDetails.customer);
        $("#ship_address").html(requestDetails.address);
        $("#phone_number").html(requestDetails.phonenumber);
		    $('html,body').animate({
        scrollTop: $(".repairs_details_container").offset().top},
        'slow');                            
      }
  	}  
  
   	$(document.body).on('click', '.MyRepairDetails' ,function(){
        rma_id = $(this)[0].id;
        apiendpoint = "rma/details/"+rma_id+"/";
        getAPIresponse(apiendpoint, current_user, 'getrmadetails');
    });  
  
  	function getRequestStatus(requestStatus) {
  		var rstatus = ''; 
  		switch (requestStatus) {
        case "repairs_request_status_01":
          rstatus = $("#repairs_request_status_01").html();
                         
          break;
        case "repairs_request_status_04":
          rstatus = $("#repairs_request_status_04").html();
                           
          break;
        case "repairs_request_status_05":
          rstatus = $("#repairs_request_status_05").html();

          break;
        case "repairs_request_status_06":
          rstatus = $("#repairs_request_status_06").html();
                       
          break;
        case "repairs_request_status_07":
          rstatus = $("#repairs_request_status_09").text();
   
          break;
        case "repairs_request_status_10":
          rstatus = $("#repairs_request_status_10").html();

          break;
        case "repairs_request_status_11":
          rstatus = $("#repairs_request_status_11").html();

          break;
  			case "repairs_request_status_12":
          rstatus = $("#repairs_request_status_12").html();

  				break;
  			case "repairs_request_status_17":
          rstatus = $("#repairs_request_status_17").html();

  				break;
  			case "repairs_request_status_18":
          rstatus = $("#repairs_request_status_18").html();

  				break;
  			case "repairs_request_status_20":
          rstatus = $("#repairs_request_status_20").html();
                        
  				break;
  			case "repairs_request_status_21":
          rstatus = $("#repairs_request_status_21").html();
                       
  				break;
      }
			return rstatus;
  	}	
        
		/* Function for all API calls */
    function getAPIresponse(apiendpoint, curruseremail, requesttype) {
			burma_url = server_url;
      $.ajax({
          url : burma_url, 
          type : 'POST',
          dataType:'JSON',
  				data : { e_valid: curruseremail, r_type: requesttype, e_point: apiendpoint},
          success : successCallBack
      });
    }
  });
});
</script> 
  
<label class="zd_Hidden" id="map_json">{{asset 'map_json'}}</label>
<!-- Repair/BuRMA CSS and JS - End - Asmita -->

<div class="header_search">   
			<div class="container">
          <h1>{{ dc 'homepage_welcome'}}</h1>
        	{{search  instant=settings.instant_search}}
      </div>
</div>

<div class="my-activities-nav">
  <div class="container">
    <nav class="collapsible-nav">
<!--       <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button> -->
      <ul class="collapsible-nav-list">
        <li id="requests_header" class="current"><a href="/hc/en-gb/requests">{{t 'requests'}}</a></li>
        <li id="repairs_header"><a href="#repairs">{{dc 'repairs_title'}}</a></li>
        <li id="subscriptions_header">{{link 'subscriptions'}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
 <div id="requests" class="requests"> 
  <header class="my-activities-header">
    <h1>{{t 'my_requests'}}</h1>

  </header>

  {{#form 'requests_filter' class='requests-table-toolbar'}}
    <div class="search">
      {{input 'query' id='quick-search' type='search' class='requests-search'}}
    </div>
    {{#if help_center.multiple_organizations_enabled}}
      <div class="request-table-filter">
        {{label 'organization' for='request-organization-select' class='request-filter request-filter-label'}}
        {{select 'organization' id='request-organization-select' class='request-filter'}}
      </div>
    {{/if}}

    <div class="request-table-filter">
      {{subscribe}}
    </div>

    <div class="request-table-filter">
      {{label 'status' for='request-status-select' class='request-filter request-filter-label'}}
      {{select 'status' id='request-status-select' class='request-filter'}}
    </div>
  {{/form}}

  {{#if query}}
    <div class="requests-search-info meta-data">
      {{t 'requests_search_results_info' count=requests.length query=query}}
    </div>
  {{else}}
    {{#unless requests}}
      <p class="no-activities">{{t 'no_requests'}}</p>
    {{/unless}}
  {{/if}}

  <div class="requests">
    {{#if requests}}
      <table class="table my-activities-table requests-table {{current_filter.identifier}}-requests">
        <thead>
          <tr>
            <th>{{t 'subject'}}</th>
            <th>{{t 'id'}}</th>
            <th>
              {{#is current_filter.identifier 'my'}}
                {{#link 'requests' sort_by='created_at'}}{{t 'created'}}{{/link}}
              {{else}}
                {{t 'requester'}}
              {{/is}}
            </th>
            <th>{{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}</th>
            <th>
              {{t 'status'}}
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each requests}}
            <tr {{#is status 'closed'}} class="request-closed" {{/is}}>
              <td class="request-info requests-table-info">
                <a href="{{url}}" class="striped-list-title" title="{{subject}}">
                  {{#if subject}}
                    {{subject}}
                  {{else}}
                    {{excerpt description characters=50}}
                  {{/if}}
                </a>

                <!-- Visible on mobile -->
                <div class="requests-table-meta meta-group">
                  <span class="meta-data">#{{id}}</span>
                  <span class="meta-data">{{date created_at timeago=true}}</span>
                  <span class="" title="{{status_description}}">
                    {{status_name}}
                  </span>
                </div>
              </td>
              <td>#{{id}}</td>
              <td>
                {{#is ../current_filter.identifier 'my'}}
                  {{date created_at timeago=true}}
                {{else}}
                  {{requester.name}}
                {{/is}}
              </td>
              <td>{{date updated_at timeago=true}}</td>
              <td class="requests-table-status">
                <span class="" title="{{status_description}}">
                  {{status_name}}
                </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
     {{pagination}}
  </div> 
  </div>
   <!--  Asmita - Repairs/BuRMA HTML  -->

  <label class="zd_Hidden" id="repairs_request_status_01">{{dc 'repairs_request_status_01'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_04">{{dc 'repairs_request_status_04'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_05">{{dc 'repairs_request_status_05'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_06">{{dc 'repairs_request_status_06'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_07">{{dc 'repairs_request_status_07'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_09">{{dc 'repairs_request_status_09'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_10">{{dc 'repairs_request_status_10'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_11">{{dc 'repairs_request_status_11'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_12">{{dc 'repairs_request_status_12'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_17">{{dc 'repairs_request_status_17'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_18">{{dc 'repairs_request_status_18'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_20">{{dc 'repairs_request_status_20'}}</label>
  <label class="zd_Hidden" id="repairs_request_status_21">{{dc 'repairs_request_status_21'}}</label>

  <div id="repairs" class="repairs">
  <div class="repairs_list_container container">
  <header class="my-activities-header">
    <h1>{{dc 'repairs_title'}}</h1>
    </header>
    <div id="repair_user" user-data=""></div>
    <div id="cs_BURMA_Frame" class="tt-container tb">
      <iframe height="500" width="1000" id="tt_burma" class="tts-burma">
      <p>{{dc 'iframe_not_supported'}}</p>
      </iframe>
    </div>
    <div>
      <div id="cs_MyRepair_List" class="tt-container tt-account-settings">
        <table id="MyRepair_List" class="table requests-table tt-divider-table my-activities-table">
          <thead>
          <tr>
            <th>{{dc 'repairs_list_header_rma_number'}}</th>
            <th>{{dc 'repairs_list_header_request_date'}}</th>
            <th>{{dc 'repairs_list_header_request_status'}}</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
  </div>
  </div>
  </div>
 <div class="repairs_details_container">
   <div class="container">
  <div id="cs_MyRepair_Details" class="table requests-table tt-divider-table my-activities-table">
      <div class="repairs_details__inner_container">
    <h3 id="request_name"></h3>
    <table>
      <tr>
        <td>{{dc 'repairs_-_date_created'}}</td>
        <td id="date_created"></td>
      </tr>
      <tr>
        <td>{{dc 'repairs_-_date_updated'}}</td>
        <td id="date_updated"></td>
      </tr>
      <tr>
        <td>{{dc 'repairs_-_status'}}</td>
        <td id="current_status_block"><span id="current_status"></span></td>
      </tr>
      <tr>
        <td>{{dc 'repairs_-_customer'}}</td>
        <td id="customer"></td>
      </tr>
      <tr>
        <td>{{dc 'repairs_-_address'}}</td>
        <td id="ship_address"></td>
      </tr>
      <tr>
        <td>{{dc 'repairs_-_phone_number'}}</td>
        <td id="phone_number"></td>
      </tr>
    </table>
     </div>
  </div>
</div>
</div>
</div>     
<!--  Repairs/BuRMA HTML - End  -Asmita -->


