<!-- Repair/BuRMA CSS and JS -->
<style>
 #cs_BURMA_Frame, #no_BURMA_user {
	display: none;
}
</style>

<script type="text/javascript">
   
$(document).ready(function(){
  $.getJSON(id_map_data_source, function(data) {
  	var php_api_server = -1;
  	if (the_url.indexOf("sandbox")!= -1) {
  		php_api_server=data.vanilla_sso_server.sandbox; 
    } else {
  		php_api_server = data.vanilla_sso_server.prod;
  	}
  
    ///BuRMA call setup          
    ////get current user 
    var current_user = HelpCenter.user.email;
		var server_url = php_api_server+'zenApi/src/repairController.php';
  
    apiendpoint = "contact/type/"+current_user+"/";
  	///// call api for getting user type ///// 
    getAPIresponse(apiendpoint, current_user, 'getusertype');

    function successCallBack(data){
    	///If API is for checking user type///
     	if(data.requesttype == 'getusertype') {
        contacttype = data.result.type;
        if(contacttype == 3) {	////if user is BuRMA, show ifrmae
           $('#tt_burma').attr('src', data.burmaLocaleUrl);
           $('#cs_BURMA_Frame').show();
        } else {	////else show message (show repair list - pending)
           $('#no_BURMA_user').show();              
        }
     	} else { //// for showing user repair list (pending) 
        //console.log(data);
     	}
  	}   
		/* Function for all API calls */
    function getAPIresponse(apiendpoint, useremail, requesttype) {
			burma_url = server_url+'?apiendpoint='+apiendpoint+'&useremail='+useremail+'&requesttype='+requesttype;
      $.ajax({
          url : burma_url,
          type : 'GET',
          dataType:'JSON',
          success : successCallBack,
          error : function(request,error)
          {
            console.log('error : '+error);
            console.log("Request: "+JSON.stringify(request));
          }
      });
    }
  });
});
</script> 
  
<label class="zd_Hidden" id="map_json">{{asset 'map_json'}}</label>
<!-- Repair/BuRMA CSS and JS - End - Asmita -->

<div class="header_search">   
			<div class="container">
          <h1>{{ dc 'homepage_welcome'}}</h1>
        	{{search  instant=settings.instant_search}}
      </div>
</div>

<div class="my-activities-nav">
  <div class="container">
    <nav class="collapsible-nav">
      <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button>
      <ul class="collapsible-nav-list">
        <li aria-selected=true>{{t 'requests'}}</li>
        <li>{{link 'subscriptions'}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <header class="my-activities-header">
    <h1>{{t 'my_requests'}}</h1>

  </header>

  {{#form 'requests_filter' class='requests-table-toolbar'}}
    <div class="search">
      {{input 'query' id='quick-search' type='search' class='requests-search'}}
    </div>
    {{#if help_center.multiple_organizations_enabled}}
      <div class="request-table-filter">
        {{label 'organization' for='request-organization-select' class='request-filter request-filter-label'}}
        {{select 'organization' id='request-organization-select' class='request-filter'}}
      </div>
    {{/if}}

    <div class="request-table-filter">
      {{subscribe}}
    </div>

    <div class="request-table-filter">
      {{label 'status' for='request-status-select' class='request-filter request-filter-label'}}
      {{select 'status' id='request-status-select' class='request-filter'}}
    </div>
  {{/form}}

  {{#if query}}
    <div class="requests-search-info meta-data">
      {{t 'requests_search_results_info' count=requests.length query=query}}
    </div>
  {{else}}
    {{#unless requests}}
      <p class="no-activities">{{t 'no_requests'}}</p>
    {{/unless}}
  {{/if}}

  <div class="requests">
    {{#if requests}}
      <table class="table my-activities-table requests-table {{current_filter.identifier}}-requests">
        <thead>
          <tr>
            <th>{{t 'subject'}}</th>
            <th>{{t 'id'}}</th>
            <th>
              {{#is current_filter.identifier 'my'}}
                {{#link 'requests' sort_by='created_at'}}{{t 'created'}}{{/link}}
              {{else}}
                {{t 'requester'}}
              {{/is}}
            </th>
            <th>{{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}</th>
            <th>
              {{t 'status'}}
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each requests}}
            <tr {{#is status 'closed'}} class="request-closed" {{/is}}>
              <td class="request-info requests-table-info">
                <a href="{{url}}" class="striped-list-title" title="{{subject}}">
                  {{#if subject}}
                    {{subject}}
                  {{else}}
                    {{excerpt description characters=50}}
                  {{/if}}
                </a>

                <!-- Visible on mobile -->
                <div class="requests-table-meta meta-group">
                  <span class="meta-data">#{{id}}</span>
                  <span class="meta-data">{{date created_at timeago=true}}</span>
                  <span class="status-label status-label-{{status}}" title="{{status_description}}">
                    {{status_name}}
                  </span>
                </div>
              </td>
              <td>#{{id}}</td>
              <td>
                {{#is ../current_filter.identifier 'my'}}
                  {{date created_at timeago=true}}
                {{else}}
                  {{requester.name}}
                {{/is}}
              </td>
              <td>{{date updated_at timeago=true}}</td>
              <td class="requests-table-status">
                <span class="status-label status-label-{{status}}" title="{{status_description}}">
                  {{status_name}}
                </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
  
  <!--  Asmita - Repairs/BuRMA HTML  -->
  <br>
  <div class="requests">
    <h1>{{dc 'repairs'}}</h1>
    <div id="cs_BURMA_Frame" class="tt-container tb">
      <iframe height="500" width="1000" id="tt_burma" class="tts-burma">
      <p>{{dc 'iframe_error_message'}}</p>
      </iframe>
    </div>
    <div id="no_BURMA_user" class="tt-container tb">
      <p>{{dc 'repairs_-_login_message'}}</p>
    </div>
  </div>
<!--  Repairs/BuRMA HTML - End  -Asmita -->

  {{pagination}}
</div>