<div class="my-activities-nav">
  <div class="container">
    <nav class="collapsible-nav">
      <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button>
      <ul class="collapsible-nav-list">
        {{#if help_center.request_management_enabled}}
          <li>{{link 'requests'}}</li>
        {{/if}}
        <li aria-selected=true>{{t 'following'}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <header class="my-activities-header">
    <h1>{{t 'following'}}</h1>
  </header>

  <div class="my-activities-following-header">
    <span class="dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{current_filter.label}}
      </button>
      <span class="dropdown-menu" role="menu">
        {{#each filters}}
          <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
            {{name}}
          </a>
        {{/each}}
      </span>
    </span>
  </div>

  <div class="requests">
    {{#if subscriptions}}
      <table class="table my-activities-table subscriptions-table">
        <thead>
          <tr>
            <th>{{t 'title'}}</th>
            <th>{{t 'type'}}</th>
            <th>{{t 'subscription'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each subscriptions}}
            <tr>
              <td>
                {{#is type 'user'}}
                  <img class="user-avatar" src="{{avatar_url}}" alt="">
                {{/is}}
                <a href="{{url}}" title="{{title}}" class="striped-list-title">
                  {{excerpt title characters=60}}
                </a>
              </td>
              <td>{{name}}</td>
              <td>{{subscribe}}</td>
              <td class="subscriptions-unsubscribe">{{unsubscribe}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    {{pagination}}
    {{else}}
      <p class="no-activities">{{t 'not_following'}}</p>
    {{/if}}
  </div>
</div>

 <div class="ts-sub-footer-wrapper">
                    <h2>{{dc 'subfooter_-_title'}}</h2>
							<div class="ts-sub-footer">

       <div class="ts-sub-footer-box ts-sub-footer-related-faqs">
           <img src="{{dc 'subfooter_-_user_manual_image'}}" alt="">
        <div class="sub-footer-inner-box">	 
         <h3 class="ts-sub-footer-title">{{dc 'subfooter_user_manual_header'}}</h3>
              <div class="ts-sub-footer-text">
              <p>{{dc 'subfooter_user_manual_subheader'}}</p>                       			
          </div>
         <div class="sub-footer-arrow">
           <a href="{{dc 'subfooter_user_manual_link'}}">
              <div class="sub-footer-button">{{dc 'subfooter_-_user_manual_link_text'}}</div>
            </a>
            </div>
         </div>
       </div>
      <div class="ts-sub-footer-box ts-sub-footer-bongo">
        <img src="{{dc 'subfooter_-_bongo_image'}}" alt="Bongo the Digital Assistant">
          <div class="sub-footer-inner-box">          
       			 <h3 class="ts-sub-footer-title">{{dc 'bongo_header'}}</h3>
                  <div class="ts-sub-footer-text">
                  <p>{{dc 'bongo_subheader'}}</p>                       			
              </div>
              <div class="sub-footer-arrow">
                <a href="{{dc 'subfooter_-_bongo_link'}}">
                  <div class="sub-footer-button">{{dc 'subfooter_-_bongo_link_text'}}</div>
                </a>
              </div>
          </div>  
        </div>
      <div class="ts-sub-footer-box ts-sub-footer-videos">
          <img src="{{dc 'subfooter_-_video_image'}}" alt="TomTom Support Videos">
      		  <div class="sub-footer-inner-box">    
    			    <h3 class="ts-sub-footer-title">{{dc 'support_video_header'}}</h3>
                     <div class="ts-sub-footer-text">
                      <p>{{dc 'support_video_subheader'}}</p>                              
              </div>
              <div class="sub-footer-arrow">
                  <a href="{{dc 'subfooter_-_video_link'}}">
                  <div class="sub-footer-button">{{dc 'subfooter_-_video_link_text'}}</div>
                  </a>
              </div>
           </div>
      </div>
      <div class="ts-sub-footer-box ts-sub-footer-community">
                  <img src=" {{dc 'subfooter_-_community_image'}}" alt="TomTom Community">
     							   <div class="sub-footer-inner-box">  
     							   <h3 class="ts-sub-footer-title">{{dc 'community_header'}}</h3>
               <div class="ts-sub-footer-text">
                  <p>{{dc 'community_subheader'}}</p>                    
              </div>
          </div>
              <div class="sub-footer-arrow">
                  <a href="{{dc 'community_link'}}">
                  <div class="sub-footer-button">{{dc'subfooter_-_community_link_text'}}</div>
                  </a>
              </div>
        </div>                  
</div>
          </div>     