<div class="ct-body">
    <nav class="sub-nav">
      <div class="container">
        {{breadcrumbs}}
      </div>
    </nav>

    <div class="article-container" id="article-container">
      <article class="ct-article">
        <header class="ct-article-header">
            <h1 title="{{article.title}}" class="ct-article-title">
              {{article.title}}
              {{#if article.internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </h1>
        </header>
    <section class="article-info">
      <div class="container">
        <div class="ct-article-content">
          <div class="ct-article-body">{{article.body}}</div>
              <div class="ct-article-extra">
            	</div>
          </div>
         </div>
    </section>
<footer>
</footer>
      <div id='back-to-top'>
					 {{dc "back_to_top"}}
      </div>
 </article>