<!-- Start of tomtomhelp1570114826 Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e99a4148-b9f9-4cf1-bb8e-9ed3aefc014a"> </script>
<!-- End of tomtomhelp1570114826 Zendesk Widget script -->

<nav class="sub-nav">
  <div class="container">
    {{breadcrumbs}}
  </div>
</nav>
  <div class="article-container" id="article-container">
    <article class="gs-article">
      <header class="gs-article-header">
        <div class="container">
          <h2 class="gs-article-sub-title">{{dc 'get_started_title'}}</h2>
          <h1 title="{{article.title}}" class="gs-article-title">
            {{article.title}}
            {{#if article.internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
          {{/if}}
        </h1>
          <a  class="button-secondary not-your-product" href="/home">{{dc "not_your_product"}}</a>
       </div>
      </header>
  <section class="article-info">
    <div class="container">
      <div class="gs-article-content">
        <div class="article-body">{{article.body}}</div>
      </div>
    </div>
  </section>
<footer>
  <div class="gs-user-manual-block">
    <div class="gs-user-manual-img">
    </div>
    <div class="gs-user-manual-text">
      <h3 class="gs-user-manual-title">{{dc "user_manual"}}
    	</h3>
      <p class="gs-user-manual-description">{{dc "user_manual_tagline"}}
    	</p>
    </div>  
    <a class="gs-user-manual-download button" href="download.tomtom.com/something">{{dc "download"}}
    </a>
  </div>
</footer>
      <div id='back-to-top'>
        {{dc "back_to_top"}}
      </div>
 </article>

    





        
