<div id="Get_started">
<div class="header_search">   
			<div class="tile-grid">
          <h2>{{ dc 'homepage_welcome'}}</h2>
        	{{search submit=false instant=settings.instant_search scoped=true}}
      </div>
</div>
    <nav class="sub-nav">
      <div class="container">
        <div class="article_search">
        </div>
        {{breadcrumbs}}
      </div>
    </nav>
  <div class="article-container" id="article-container">
    <article class="gs-article parallax">
      <header class="gs-article-header parallax__layer parallax__layer--back">
        <div class="gs-article-header-block ">
          <div class="tile-grid">
          <div class="gs-article-titles" id="gs-article-intro">
          	<h2 class="gs-article-sub-title">{{dc 'get_started_title'}}</h2>
          </div>
          <h1 title="{{article.title}}" class="gs-article-title">
            {{article.title}}
            {{#if article.internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
          {{/if}}
        </h1>
<!--           <div id="moveG" href="/home"></div> -->
       </div>
          </div>
      </header>
  <section class="article-info parallax__layer parallax__layer--base">
    <div class="container">
      <div class="gs-article-content">
        <div class="article-body">{{article.body}}</div>
      </div>
    </div>
  </section>
<footer>
  <div class="gs-user-manual-block">
    <div class="gs-user-manual-img">
      <img src="{{asset 'user-manuals.png'}}">
    </div>
    <div class="gs-user-manual-text">
      <h3 class="gs-user-manual-title">{{dc "user_manual"}}
    	</h3>
      <p class="gs-user-manual-description">{{dc "user_manual_tagline"}}
    	</p>
    </div>  
    <a class="gs-user-manual-download button" href="{{dc 'get_started_-_download_link'}}">{{dc "download"}}
    </a>
  </div>
</footer>
      <div id='back-to-top'>
        {{dc "back_to_top"}}
      </div>
 </article>
  </div>
    





        
