<!-- Start of tomtomhelp1570114826 Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e99a4148-b9f9-4cf1-bb8e-9ed3aefc014a"> </script>
<!-- End of tomtomhelp1570114826 Zendesk Widget script -->

<!-- Start of hiding email and name on webwidget -->
<script type="text/javascript">
    zE('webWidget:on', 'open', function() { //on click of web widget
       var style = document.createElement('style'); //create style element

          style.innerHTML = `

            #Embed > div > div > div > form > div > div.sc-kaNhvL.iIpHXN > div:nth-child(1) {  
                display: none;     
              }
            #Embed > div > div > div > form > div > div.sc-kaNhvL.iIpHXN > div:nth-child(2) {   
                display: none;     
             }
                         `;

      parent.document.getElementById('webWidget').contentDocument.head.appendChild(style);
    });    
</script>
<!-- End  of hiding email and name on webwidget -->  

<div class="ht-body">
  <nav class="sub-nav">
    <div class="container">
      {{breadcrumbs}}
    </div>
  </nav>

    <article class="ht-article">
      <div class="container">
      <header class="ht-article-header">
			<h1 title="{{article.title}}" class="ht-article-title">
			  {{article.title}}
			  {{#if article.internal}}
				<span class="icon-lock" title="{{t 'internal'}}"></span>
			  {{/if}}
			</h1>
		  </header>
      </div>

      <section class="article-info">
		<div class="container">
		<div class="article-content">
		  <div class="ht-article-body">{{article.body}}</div>
		</div>
		</div>
      </section>

              <footer>
          {{#with article}}
            <div class="article-votes">
              <div class="article-votes-question">{{dc 'article_satisfaction'}}</div>
              <div class="article-votes-controls" role='radiogroup'>
                {{vote 'up' role='radio' class='article-vote article-vote-up'}} |
                {{vote 'down' role='radio' class='article-vote article-vote-down'}}
              </div>
              <small class="article-votes-count">
                {{vote 'label' class='article-vote-label'}}
              </small>
            </div>
          {{/with}}     
          
                  <div class="ts-sub-footer">
                     <div class="ts-sub-footer-box ts-sub-footer-related-faqs article-relatives">
                          {{#if settings.show_related_articles}}
                            {{related_articles}}
                          {{/if}}
                  	 </div>
                <div class="ts-sub-footer-box ts-sub-footer-bongo">
                      			<h3 class="ts-sub-footer-title">{{dc 'bongo_header'}}</h3>
                    <div class="sub-footer-inner-box">
                      	<div class="ts-sub-footer-text">
                        		<p>{{dc 'bongo_subheader'}}</p>
                       			<img src="{{asset 'small_tommy.png'}}" alt="Bongo the Digital Assistant" height="150" width="150">
                    		</div>
                        <div class="sub-footer-arrow">
                            <div class="button">></div>
                        </div>
                    </div>  
                  </div>
                <div class="ts-sub-footer-box ts-sub-footer-videos">
                  		<h3 class="ts-sub-footer-title">{{dc 'support_video_header'}}</h3>
                    <div class="sub-footer-inner-box">
                      	<div class="ts-sub-footer-text">
                                <p>{{dc 'support_video_subheader'}}</p>
                                <img src="{{asset '06-CCVID.png'}}" alt="TomTom Support Videos" height="150" width="150">
                       	</div>
                        <div class="sub-footer-arrow">
                          	<a href="https://www.youtube.com/channel/UCTr40Rfcd21t0qeAcW971Xw">
                            <div class="button">></div>
                            </a>
                        </div>
                  	 </div>
                </div>
                <div class="ts-sub-footer-box ts-sub-footer-community">
                 		 <h3 class="ts-sub-footer-title">{{dc 'community_header'}}</h3>
                    <div class="sub-footer-inner-box">
                         <div class="ts-sub-footer-text">
                            <p>{{dc 'community_subheader'}}</p>
                            <img src="{{asset '08-discussion.png'}}" alt="TomTom Community" height="150" width="150">
                        </div>
                    </div>
                        <div class="sub-footer-arrow">
                          	<a href="{{dc 'community_link'}}">
                            <div class="button">></div>
                            </a>
                        </div>
                  </div>                  
                </div>
         </footer>
    </article>
  </div>
</div>
