<div class="ht-body" id="How_to">
  <nav class="sub-nav">
    <div class="container">
      {{breadcrumbs}}
    </div>
  </nav>

    <article class="ht-article">
      <div class="container">
      <header class="ht-article-header">
			<h1 title="{{article.title}}" class="ht-article-title">
			  {{article.title}}
			  {{#if article.internal}}
				<span class="icon-lock" title="{{t 'internal'}}"></span>
			  {{/if}}
			</h1>
		  </header>
      </div>

      <section class="article-info">
		<div class="container">
		<div class="article-content">
		  <div class="ht-article-body">{{article.body}}</div>
		</div>
		</div>
      </section>

<footer>       
           {{#with article}}
            <div class="article-votes">
              <div class="article-votes-question">{{dc 'article_satisfaction'}}</div>
              <div class="article-votes-controls" role='radiogroup'>
                {{vote 'up' role='radio' class='article-vote article-vote-up'}} |
                {{vote 'down' role='radio' class='article-vote article-vote-down'}}
              </div>
              <small class="article-votes-count">
                {{vote 'label' class='article-vote-label'}}
              </small>
            </div>
          {{/with}}      
         </footer>
    </article>
  </div>

