<div class="ht-body" id="How_to">
  <nav class="sub-nav">
    <div class="container">
      {{breadcrumbs}}
    </div>
  </nav>

    <article class="ht-article">
      <div class="container">
      <header class="ht-article-header">
			<h1 title="{{article.title}}" class="ht-article-title">
			  {{article.title}}
			  {{#if article.internal}}
				<span class="icon-lock" title="{{t 'internal'}}"></span>
			  {{/if}}
			</h1>
		  </header>
      </div>

      <section class="article-info">
		<div class="container">
		<div class="article-content">
		  <div class="ht-article-body">{{article.body}}</div>
		</div>
		</div>
      </section>

<footer>          
  <div class="ts-sub-footer-wrapper">
    	<h2>{{dc 'subfooter_-_title'}}</h2>
			<div class="ts-sub-footer">
				<div class="ts-sub-footer-box ts-sub-footer-related-faqs">
        	<img src="{{dc 'subfooter_-_user_manual_image'}}" alt="">
        	<div class="sub-footer-inner-box">	 
         	<h3 class="ts-sub-footer-title">{{dc 'subfooter_user_manual_header'}}</h3>
              <div class="ts-sub-footer-text">
              	<p>{{dc 'subfooter_user_manual_subheader'}}</p>                       			
         			</div>
         <div class="sub-footer-arrow">
           	<a href="{{dc 'subfooter_user_manual_link'}}">
          		<div class="sub-footer-button">{{dc 'subfooter_-_user_manual_link_text'}}</div>
            </a>
          </div>
         </div>
       </div>
      <div class="ts-sub-footer-box ts-sub-footer-bongo">
        <img src="{{dc 'subfooter_-_bongo_image'}}" alt="Bongo the Digital Assistant">
          <div class="sub-footer-inner-box">          
       			 <h3 class="ts-sub-footer-title">{{dc 'bongo_header'}}</h3>
                  <div class="ts-sub-footer-text">
                  <p>{{dc 'bongo_subheader'}}</p>                       			
              </div>
              <div class="sub-footer-arrow">
                <a href="{{dc 'subfooter_-_bongo_link'}}">
                  <div class="sub-footer-button">{{dc 'subfooter_-_bongo_link_text'}}</div>
                </a>
              </div>
          </div>  
        </div>
      <div class="ts-sub-footer-box ts-sub-footer-videos">
          <img src="{{dc 'subfooter_-_video_image'}}" alt="TomTom Support Videos">
      		  <div class="sub-footer-inner-box">    
    			    <h3 class="ts-sub-footer-title">{{dc 'support_video_header'}}</h3>
                     <div class="ts-sub-footer-text">
                      <p>{{dc 'support_video_subheader'}}</p>                              
              </div>
              <div class="sub-footer-arrow">
                  <a href="{{dc 'subfooter_-_video_link'}}">
                  <div class="sub-footer-button">{{dc 'subfooter_-_video_link_text'}}</div>
                  </a>
              </div>
           </div>
      </div>
      <div class="ts-sub-footer-box ts-sub-footer-community">
                  <img src=" {{dc 'subfooter_-_community_image'}}" alt="TomTom Community">
     							   <div class="sub-footer-inner-box">  
     							   <h3 class="ts-sub-footer-title">{{dc 'community_header'}}</h3>
               <div class="ts-sub-footer-text">
                  <p>{{dc 'community_subheader'}}</p>                    
              </div>
          </div>
              <div class="sub-footer-arrow">
                  <a href="{{dc 'community_link'}}">
                  <div class="sub-footer-button">{{dc'subfooter_-_community_link_text'}}</div>
                  </a>
              </div>
        </div>                  
</div>
          </div>  

           {{#with article}}
            <div class="article-votes">
              <div class="article-votes-question">{{dc 'article_satisfaction'}}</div>
              <div class="article-votes-controls" role='radiogroup'>
                {{vote 'up' role='radio' class='article-vote article-vote-up'}} |
                {{vote 'down' role='radio' class='article-vote article-vote-down'}}
              </div>
              <small class="article-votes-count">
                {{vote 'label' class='article-vote-label'}}
              </small>
            </div>
          {{/with}}      
         </footer>
    </article>
  </div>

