<div class="ts-body">
    <nav class="sub-nav">
    <div class="container">
      {{breadcrumbs}}
    </div>
  </nav>
 
    <div class="um-article-container" id="um-article-container">
      <article class="">
        <header class="container um-article-header">
          <h2 class="um-sub-title">{{dc "user_manual"}}</h2>
          <h1 title="{{article.title}}" class="ts-article-title">
            {{article.title}}
            {{#if article.internal}}
              <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </h1>
        </header>
    <section class="um-article-info">
      <div class="">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>
        </div>
      </div>
    </section>

      </article>
    </div>
  </div>

