<div class="ts-body" id="Troubleshooting">
  {{#each article.labels}}<label class="zd_Hidden labels">{{identifier}}</label>{{/each}}
    <nav class="sub-nav">
    <div class="container">
      {{breadcrumbs}}
    </div>
  </nav>
    <div class="article-container" id="article-container">
      <article class="ts-article">
        <header class="article-header">
            <div class="container">
            <h1 title="{{article.title}}" class="ts-article-title">
              {{article.title}}
              {{#if article.internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </h1>
          </div>
        </header>
    <section class="article-info">
      <div class="container">
        <div class="ts-article-content">
          <div class="ts-article-body">{{article.body}}</div>
              <div class="ts-article-extra">
                <div class="ts-article-video"></div>
            	</div>
          </div>
         </div>
    </section>

        <footer>
          {{#with article}}
            <div class="article-votes">
              <div class="article-votes-question">{{dc 'article_satisfaction'}}</div>
              <div class="article-votes-controls" role='radiogroup'>
                {{vote 'up' role='radio' class='article-vote article-vote-up'}} |
                {{vote 'down' role='radio' class='article-vote article-vote-down'}}
              </div>
              <small class="article-votes-count">
                {{vote 'label' class='article-vote-label'}}
              </small>
            </div>
          {{/with}}  
         </footer>
      </article>
    </div>
  </div>



