<div class="ts-body" id="Troubleshooting">
    <nav class="sub-nav">
    <div class="container">
      {{breadcrumbs}}
    </div>
  </nav>
    <div class="article-container" id="article-container">
      <article class="ts-article">
        <header class="article-header">
            <div class="container">
            <h1 title="{{article.title}}" class="ts-article-title">
              {{article.title}}
              {{#if article.internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </h1>
          </div>
        </header>
    <section class="article-info">
      <div class="container">
        <div class="ts-article-content">
          <div class="ts-article-body">{{article.body}}</div>
              <div class="ts-article-extra">
                <div class="ts-article-video"></div>
            	</div>
          </div>
         </div>
    </section>

        <footer>
          {{#with article}}
            <div class="article-votes">
              <div class="article-votes-question">{{dc 'article_satisfaction'}}</div>
              <div class="article-votes-controls" role='radiogroup'>
                {{vote 'up' role='radio' class='article-vote article-vote-up'}} |
                {{vote 'down' role='radio' class='article-vote article-vote-down'}}
              </div>
              <small class="article-votes-count">
                {{vote 'label' class='article-vote-label'}}
              </small>
            </div>
          {{/with}}     
          
                  <div class="ts-sub-footer">
                     <div class="ts-sub-footer-box ts-sub-footer-related-faqs article-relatives">
                          {{#if settings.show_related_articles}}
                            {{related_articles}}
                          {{/if}}
                  	 </div>
                <div class="ts-sub-footer-box ts-sub-footer-bongo">
                      			<h3 class="ts-sub-footer-title">{{dc 'bongo_header'}}</h3>
                    <div class="sub-footer-inner-box">
                      	<div class="ts-sub-footer-text">
                        		<p>{{dc 'bongo_subheader'}}</p>
                       			<img src="{{dc 'subfooter_-_bongo_image'}}" alt="Bongo the Digital Assistant" height="150" width="150">
                    		</div>
                        <div class="sub-footer-arrow">
                          <a href="{{dc 'subfooter_-_bongo_link'}}">
                            <div class="button">></div>
                          </a>
                        </div>
                    </div>  
                  </div>
                <div class="ts-sub-footer-box ts-sub-footer-videos">
                  		<h3 class="ts-sub-footer-title">{{dc 'support_video_header'}}</h3>
                    <div class="sub-footer-inner-box">
                      	<div class="ts-sub-footer-text">
                                <p>{{dc 'support_video_subheader'}}</p>
                                <img src="{{dc 'subfooter_-_video_image'}}" alt="TomTom Support Videos" height="150" width="150">
                       	</div>
                        <div class="sub-footer-arrow">
                          	<a href="{{dc 'subfooter_-_video_link'}}">
                            <div class="button">></div>
                            </a>
                        </div>
                  	 </div>
                </div>
                <div class="ts-sub-footer-box ts-sub-footer-community">
                 		 <h3 class="ts-sub-footer-title">{{dc 'community_header'}}</h3>
                    <div class="sub-footer-inner-box">
                         <div class="ts-sub-footer-text">
                            <p>{{dc 'community_subheader'}}</p>
                            <img src=" {{dc 'subfooter_-_community_image'}}" alt="TomTom Community" height="150" width="150">
                        </div>
                    </div>
                        <div class="sub-footer-arrow">
                          	<a href="{{dc 'community_link'}}">
                            <div class="button">></div>
                            </a>
                        </div>
                  </div>                  
                </div>
         </footer>
      </article>
    </div>
  </div>



