<nav class="sub-nav">
   <div class="container">
    {{breadcrumbs}}
   </div>
</nav>

<header class="page-header" id="learn-page-header">
    <div class="section-container container">
        <h1>{{section.name}}</h1>
      <div class="section-search">
        {{search submit=false class="search section-search" placeholder="Type keyword here"}}
          {{#if settings.show_follow_section}}
            {{subscribe}}
          {{/if}}
      </div>
    </div>
</header>

<div class="section-body">

	<section class="section-content">
      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item section-article {{#if promoted}} article-promoted{{/if}}">
              <div class="container">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
                  </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination}}

    </section>
  </div>

          <div class="ts-sub-footer-wrapper">
                    <h2>{{dc 'subfooter_-_title'}}</h2>
							<div class="ts-sub-footer">

       <div class="ts-sub-footer-box ts-sub-footer-related-faqs">
           <img src="{{dc 'subfooter_-_user_manual_image'}}" alt="">
        <div class="sub-footer-inner-box">	 
         <h3 class="ts-sub-footer-title">{{dc 'subfooter_user_manual_header'}}</h3>
              <div class="ts-sub-footer-text">
              <p>{{dc 'subfooter_user_manual_subheader'}}</p>                       			
          </div>
         <div class="sub-footer-arrow">
           <a href="{{dc 'subfooter_user_manual_link'}}">
              <div class="sub-footer-button">{{dc 'subfooter_-_user_manual_link_text'}}</div>
            </a>
            </div>
         </div>
       </div>
      <div class="ts-sub-footer-box ts-sub-footer-bongo">
        <img src="{{dc 'subfooter_-_bongo_image'}}" alt="Bongo the Digital Assistant">
          <div class="sub-footer-inner-box">          
       			 <h3 class="ts-sub-footer-title">{{dc 'bongo_header'}}</h3>
                  <div class="ts-sub-footer-text">
                  <p>{{dc 'bongo_subheader'}}</p>                       			
              </div>
              <div class="sub-footer-arrow">
                <a href="{{dc 'subfooter_-_bongo_link'}}">
                  <div class="sub-footer-button">{{dc 'subfooter_-_bongo_link_text'}}</div>
                </a>
              </div>
          </div>  
        </div>
      <div class="ts-sub-footer-box ts-sub-footer-videos">
          <img src="{{dc 'subfooter_-_video_image'}}" alt="TomTom Support Videos">
      		  <div class="sub-footer-inner-box">    
    			    <h3 class="ts-sub-footer-title">{{dc 'support_video_header'}}</h3>
                     <div class="ts-sub-footer-text">
                      <p>{{dc 'support_video_subheader'}}</p>                              
              </div>
              <div class="sub-footer-arrow">
                  <a href="{{dc 'subfooter_-_video_link'}}">
                  <div class="sub-footer-button">{{dc 'subfooter_-_video_link_text'}}</div>
                  </a>
              </div>
           </div>
      </div>
      <div class="ts-sub-footer-box ts-sub-footer-community">
                  <img src=" {{dc 'subfooter_-_community_image'}}" alt="TomTom Community">
     							   <div class="sub-footer-inner-box">  
     							   <h3 class="ts-sub-footer-title">{{dc 'community_header'}}</h3>
               <div class="ts-sub-footer-text">
                  <p>{{dc 'community_subheader'}}</p>                    
              </div>
          </div>
              <div class="sub-footer-arrow">
                  <a href="{{dc 'community_link'}}">
                  <div class="sub-footer-button">{{dc'subfooter_-_community_link_text'}}</div>
                  </a>
              </div>
        </div>                  
</div>
          </div>     

