<!-- Start of tomtomhelp1570114826 Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e99a4148-b9f9-4cf1-bb8e-9ed3aefc014a"> </script>
<!-- End of tomtomhelp1570114826 Zendesk Widget script -->

<!-- Start of hiding email and name on webwidget -->
<script type="text/javascript">
    zE('webWidget:on', 'open', function() { //on click of web widget
       var style = document.createElement('style'); //create style element

          style.innerHTML = `

            #Embed > div > div > div > form > div > div.sc-kaNhvL.iIpHXN > div:nth-child(1) {  
                display: none;     
              }
            #Embed > div > div > div > form > div > div.sc-kaNhvL.iIpHXN > div:nth-child(2) {   
                display: none;     
             }
                         `;

      parent.document.getElementById('webWidget').contentDocument.head.appendChild(style);
    });    
</script>
<!-- End  of hiding email and name on webwidget -->  

<nav class="sub-nav">
   <div class="container">
    {{breadcrumbs}}
   </div>
</nav>

<header class="page-header" id="user-page-header">
    <div class="section-container container">
        <h1>{{section.name}}</h1>
      <div class="section-search">
        {{search submit=false class="search section-search" placeholder="Type keyword here"}}
          {{#if settings.show_follow_section}}
            {{subscribe}}
          {{/if}}
      </div>
    </div>
</header>

<div class="section-body">

	<section class="section-content">
      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item section-article {{#if promoted}} article-promoted{{/if}}">
              <div class="container">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
                  </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination}}

    </section>
  </div>


