
<nav class="sub-nav">
   <div class="container">
    {{breadcrumbs}}
   </div>
</nav>

<header class="page-header" id="user-page-header">
    <div class="section-container container">
        <h1>{{section.name}}</h1>
      <div class="section-search">
        {{search submit=false class="search section-search" placeholder="Type keyword here"}}
          {{#if settings.show_follow_section}}
            {{subscribe}}
          {{/if}}
      </div>
    </div>
</header>

<div class="section-body">

	<section class="section-content">
      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item section-article {{#if promoted}} article-promoted{{/if}}">
              <div class="container">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
                  </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination}}

    </section>
  </div>


